/.vs
/simplegame/x64
*.exe
*.ilk
*.pbd
*.obj
*.pch
*.log
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.pdb
*.ipch
*.res
*.user
RebellionServer/Server/.vs/Server/v17/Browse.VC.opendb
03. External/Library/Engine/Engine_debug.idb
03. External/Library/Engine/Engine_debug.lib
RebellionServer/Server/Server/x64/Release/Server.ipdb
RebellionServer/Server/Server/x64/Release/Server.iobj
RebellionServer/Server/.vs/Server/v17/Browse.VC.db-wal
RebellionServer/Server/.vs/Server/v17/Browse.VC.db-shm
03. External/Library/Engine/Engine_debug.idb
